# Ignorar archivos y directorios generados por el sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos y directorios generados por el entorno de desarrollo
node_modules/
dist/
build/

# Ignorar archivos y directorios específicos
config.js
secret.key
.env

# Ignorar archivos de log
*.log

# Ignorar archivos de respaldo
*.bak
*.swp